section.orderingSuccess
    include ../blocks/breadcrumbsOrderingSuccess
    .orderingSuccess-content
        .wrapper
            .top
                .page__img
                    img(src="assets/img/orderSuccess.svg")
                p.page__text_more Оплата прошла успешно!
                p.page__text Вы можете продолжить работу с системой
            .success-wrapper
                p.page__text итого
                .row
                    .text-wrapper
                        p.page__text_vsm Крутая футболка “Переходи на темную фазу”
                    p.page__text_vsm 2 х 1 500Р
                .row-delivery
                    p.page__text__small Доставка
                    p.page__text__small 300Р
                .row-adress
                    p.page__text__small Адрес:
                    p.page__text__small Россия, г. Йошкар-ола,<br> ул. Гагарина д.12 кв 19
                .row-result
                    p.page__text итого
                    p.page__text 3 300р
                a(href="../")
                    button.page__btn на главную