section.shop-article
    .bg-shop-article
        .wrapper
            .text
                h1.page__title-h1 Магазин
include ../blocks/breadcrumbs-shop-article
.shop-article-article
    .wrapper
        .row-slider
            .shop-article-nav
                .page__img
                    img(src="assets/img/t-shirt-small.png")
                .page__img
                    img(src="assets/img/t-shirt-small.png")
                .page__img
                    img(src="assets/img/t-shirt-small.png")
                .page__img
                    img(src="assets/img/t-shirt-small.png")
            .shop-article-slider
                .page__img
                    img(src="assets/img/t-shirt.png")
                .page__img
                    img(src="assets/img/t-shirt.png")
                .page__img
                    img(src="assets/img/t-shirt.png")
            