section.forumPage
    .polygon
        .bg-forumPage
            .wrapper
                .text
                    h1.page__title-h1 форум
include ../blocks/breadcrumbs-forumPage
.bg
    .wrapper
        .forum-content
            .forum-content-left
                form.forum-search
                    input(type="search" placeholder="искать в форумах")
                    button(type="submit")
                .forum-items-wrapper
                            .forum-item
                                .forum-item-left
                                    .forum-counter
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                        .counter
                                            p.page__text 99
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                .forum-item-right
                                    .text
                                        p.page__text Замкнутая стационарная Вселенная с переменной кривизной
                                        p.page__text__small В качестве модели замкнутой стационарной Вселенной рассмотрим 2D-тор. Вдоль поверхности тора от экватора к центру будет градиент кривизны...
                                    .row
                                        .left-side
                                            .avatar
                                                img(src="assets/img/avatar-forum.svg")
                                            p.page__text__small джереми линч    
                                            p.page__text__small 12ч назад 
                                        .right-side
                                            .views
                                                img(src="assets/img/views-icon.svg")
                                            .page__text__small 24
                                            .comments 
                                                img(src="assets/img/comment-icon.svg")
                                            .page__text__small 39
                            .forum-item
                                .forum-item-left
                                    .forum-counter
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                        .counter
                                            p.page__text 99
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                .forum-item-right
                                    .text
                                        p.page__text Замкнутая стационарная Вселенная с переменной кривизной
                                        p.page__text__small В качестве модели замкнутой стационарной Вселенной рассмотрим 2D-тор. Вдоль поверхности тора от экватора к центру будет градиент кривизны...
                                    .row
                                        .left-side
                                            .avatar
                                                img(src="assets/img/avatar-forum.svg")
                                            p.page__text__small джереми линч    
                                            p.page__text__small 12ч назад 
                                        .right-side
                                            .views
                                                img(src="assets/img/views-icon.svg")
                                            .page__text__small 24
                                            .comments 
                                                img(src="assets/img/comment-icon.svg")
                                            .page__text__small 39
                            .forum-item
                                .forum-item-left
                                    .forum-counter
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                        .counter
                                            p.page__text 99
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                .forum-item-right
                                    .text
                                        p.page__text Замкнутая стационарная Вселенная с переменной кривизной
                                        p.page__text__small В качестве модели замкнутой стационарной Вселенной рассмотрим 2D-тор. Вдоль поверхности тора от экватора к центру будет градиент кривизны...
                                    .row
                                        .left-side
                                            .avatar
                                                img(src="assets/img/avatar-forum.svg")
                                            p.page__text__small джереми линч    
                                            p.page__text__small 12ч назад 
                                        .right-side
                                            .views
                                                img(src="assets/img/views-icon.svg")
                                            .page__text__small 24
                                            .comments 
                                                img(src="assets/img/comment-icon.svg")
                                            .page__text__small 39
                            .forum-item
                                .forum-item-left
                                    .forum-counter
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                        .counter
                                            p.page__text 99
                                        .page__img
                                            img(src="assets/img/icon-arrow-forum.svg")
                                .forum-item-right
                                    .text
                                        p.page__text Замкнутая стационарная Вселенная с переменной кривизной
                                        p.page__text__small В качестве модели замкнутой стационарной Вселенной рассмотрим 2D-тор. Вдоль поверхности тора от экватора к центру будет градиент кривизны...
                                    .row
                                        .left-side
                                            .avatar
                                                img(src="assets/img/avatar-forum.svg")
                                            p.page__text__small джереми линч    
                                            p.page__text__small 12ч назад 
                                        .right-side
                                            .views
                                                img(src="assets/img/views-icon.svg")
                                            .page__text__small 24
                                            .comments 
                                                img(src="assets/img/comment-icon.svg")
                                            .page__text__small 39
            .forum-content-right
                button.page__btn Войдите чтобы создать тему
                .authors
                    .row
                        p.page__text топ авторов
                        p.page__text за месяц
                        .page__img
                            img(src="assets/img/icon-arrow-forum.svg")
                    .row-authors
                        .item
                            .left
                                p.page__text 1
                                .avatar
                                    img(src="assets/img/avatar-forum.svg")
                                p.page__text джереми линч
                            .right
                                p.page__text 260 PTS
                        .item
                            .left
                                p.page__text 1
                                .avatar
                                    img(src="assets/img/avatar-forum.svg")
                                p.page__text джереми линч
                            .right
                                p.page__text 260 PTS
                        .item
                            .left
                                p.page__text 1
                                .avatar
                                    img(src="assets/img/avatar-forum.svg")
                                p.page__text джереми линч
                            .right
                                p.page__text 260 PTS
                        .item
                            .left
                                p.page__text 1
                                .avatar
                                    img(src="assets/img/avatar-forum.svg")
                                p.page__text джереми линч
                            .right
                                p.page__text 260 PTS
                        .item
                            .left
                                p.page__text 1
                                .avatar
                                    img(src="assets/img/avatar-forum.svg")
                                p.page__text джереми линч
                            .right
                                p.page__text 260 PTS
                        
