section.forumPage
    .polygon
        .bg-forumPage
            .wrapper
                .text
                    h1.page__title-h1 форум
include ../blocks/breadcrumbs-forumPage
.forum-content
    .wrapper
        .forum-content-left
            form.forum-search
                input(type="search" placeholder="искать в форумах")
                button(type="submit")
            .forum-items-wrapper
                .forum-item
                    .forum-item-left
                        .forum-counter
                    .forum-item-right
                        .text
                            p.page__text Замкнутая стационарная Вселенная с переменной кривизной
                            p.page__text__small В качестве модели замкнутой стационарной Вселенной рассмотрим 2D-тор. Вдоль поверхности тора от экватора к центру будет градиент кривизны...
                        .row
                            .left-side
                                .avatar
                                    p.page__text__small джереми линч
                                p.page__text__small 12ч назад 
                            .right-side
                                .views
                                    .page__text__small 24
                                .comments 
                                    .page__text__small 39
        .forum-content-right