section.backstageVideoArticle
    .bg-backstageVideoArticle
        .wrapper
include ../blocks/breadcrumbs-videoArticle
.video-article-wrapper
    .wrapper
        .text
            p.page__text_more ⚡🚘Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
        .item-video
            <iframe width="1200" height="720" class="videoInsert" src="https://www.youtube.com/embed/J_reJSvL47E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .photos
            p.page__text_more фото со съёмок
            .row
                .page__img
                    img(src="assets/img/photo-video-article-1.png")
                .page__img
                    img(src="assets/img/photo-video-article-2.png")
                .page__img
                    img(src="assets/img/photo-video-article-3.png")
                .page__img
                    img(src="assets/img/photo-video-article-4.png")

