.banner{
    &-gif {
        background-image: url(../assets/img/be-first-bg.png);
        height: 630px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        
    }

    &-lightning {
        background-image: url(../assets/img/lightning.jpg);
        background-color: #000;
        // background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        height: 785px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text {
            width: 489px;
        }
    }

    
}