.banner{
    &-gif {

        .page__img {
            font-size: 0;
        }

        svg {
            // max-width: 100%;
            // padding-top: 100%;
            // background-size: cover;
            
        }
    }

    &-lightning {
        background-image: url(../assets/img/lightning.jpg);
        background-color: #000;
        // background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        height: 785px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text {
            width: 489px;
        }
    }

    
}