.banner{
    background-color: #000;

    .video {
        position: relative;
        height: 630px;
        width: 1920px;
        .videoInner {
            position: absolute; 
            right: 0; 
            bottom: 0;
            top: 0;
            left: 0;
            min-width: 100%; 
            min-height: 100%;
            width: auto; 
            height: auto; 
            // z-index: -100;
            background-size: cover;
            overflow: hidden;
        }
    }
    // .video {
    //     height: 630px;
    //     video {
    //         height: 630px;
    //         background-size: cover;
    //         background-repeat: no-repeat;
    //         .desktop-block({
    //             height: 830px;
    //         });
    
    //         .laptopBig-block({
    //             background-size: cover;
    //             height: 630px;
    //         });
    
    //         .laptopMid-block({
    //             background-size: contain;
    //             height: 630px;
    //         });
    
    //         .laptopMd-block({
    //             background-size: contain;
    //             height: 630px;
    //         });
    //         .laptopMini-block({
    //             background-size: cover;
    //             height: 550px;
                
    //         });
    //         .ipad-block({
    //             height: 530px;
    //             background-size: contain;
    //         });
    //         .sm-block({
    //             background-size: cover;
    //             height: 400px;
    //         });
    //     }
    // }
    &-gif {
        background-image: url(../assets/img/banner.gif);
        background-size: cover;
        background-repeat: no-repeat;
        height: 630px;
        font-size: 0;

        .desktop-block({
            height: 830px;
        });

        .laptopBig-block({
            background-size: cover;
            height: 630px;
        });

        .laptopMid-block({
            background-size: contain;
            height: 630px;
        });

        .laptopMd-block({
            background-size: contain;
            height: 630px;
        });
        .laptopMini-block({
            background-size: cover;
            height: 550px;
            
        });
        .ipad-block({
            height: 530px;
            background-size: contain;
        });
        .sm-block({
            background-size: cover;
            height: 400px;
        });
        .page__gif {
            

        }
    }
    

    &-lightning {
        background-image: url(../assets/img/lighhtning.gif);
        background-color: #000;
        // background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        height: 785px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .desktop-block({
            height: 930px;
        });

        .laptopBig-block({
            background-size: cover;
            height: 785px;
        });

        .laptopMid-block({
            background-size: contain;
            height: 785px;
        });

        // .laptopMd-block({
        //     background-size: contain;
        //     height: 630px;
        // });
        .laptopMini-block({
            background-size: cover;
            height: 700px;
            
        });
        .ipad-block({
            background-size: cover;
            height: 500px;
            
        });
        
        .sm-block({
            background-size: cover;
            height: 500px;
            
        });

        .text {
            width: 489px;
            .sm-block({
                width: 320px;
                
            });

            .page__title-h1 {
                
                .sm-block({
                    font-size: 60px;
                    
                });
            }
        }
    }
}