.donate {
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 18%;
    text-align: center;
    .page__text_more {
        margin: 29px auto 52px auto;
    }

    .page__btn {
        width: 345px;
        margin: 0 auto;
    }
}