.footer {
    background-color: #000;
    padding-bottom: 60px;
    .nav-left {
        .page__img {
            text-align: center;
            margin-bottom: 60px;
        }
    }

    .nav-center {
        display: flex;
        justify-content: center;
        .page__link{ 
            &:nth-child(2){ 
                margin: 0 72px 60px 72px;
                .sm-block({
                    margin: 20px auto 20px auto;
                     
                });
            };

            .sm-block({
                margin: 0 auto;
                 
            });
        }

        .sm-block({
            flex-direction: column;
            justify-content: center;
        });
    }

    .soc {
        display: flex;
        justify-content: center;
        .page__img {
            margin: 0 30px 80px 30px;
        }

        .sm-block({
            margin-top: 50px;
             
        });
    }

    .text {
        display: flex;
        justify-content: center;
        text-align: center;
        .page__text {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 30px;
                top: 0;
                right: -37px;
                background-image: url(../assets/img/YODE-icon.svg);
                background-repeat: no-repeat;
                .sm-block({
                    right: 0;
                });
            }
        }
    }
}