.header{
    background-color: #000;
    padding: 36px 0 14px 0;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 300;
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left {
           
            .page__img {
                width: 126px;
                font-size: 0;
                
                svg {
                    max-width: 100%;
                    padding-top: 100%;
                    
                }
            }

            z-index: 100;
        }

        &-center {
            display: flex;
            z-index: 100;
            .ipad-block({
                display: none;
            });
            .page__link {
                margin: 0 36px 0 36px;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            position: relative;
            
            .page__img {
                
                svg {
                    max-width: 100%;
                    padding-top: 100%;
                    
                    
                }
            }

            .basket {
                position: relative;
                .basket-inner {
                    opacity: 0;
                    position: absolute;
                    width: 500px;
                    height: 398px;
                    background: #000;
                    left: -450px;
                    top: 78px;
                    padding: 24px 0 20px 24px;
                    .sm-block({
                        padding: 0;
                        padding-left: 20px;
                    });
                    transition: .3s ease-in-out;
                    z-index: -100;
                    .sm-block({
                        width: 320px;
                        left: -220px;
                        
                    });
                    .page__text_more {
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    &.active {
                        opacity: 1;
                        transition: .3s ease-in-out;
                        z-index: 500;
                    }

                    .basket-merch-items {
                        display: flex; 
                        flex-direction: column;
                        
                        .basket-merch-item {
                            
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 440px;
                            height: 90px;
                            border: 2px solid #fff;
                            margin-bottom: 15px;
                            .sm-block({
                                width: 300px;
                                
                                
                            });
                            .left {
                                display: flex;
                                align-items: center;
                            }
                            .page__img {
                                margin-right: 20px;
                                
                            }
                            .column {

                                .page__text_vsm, .page__text, .page__text__small  {
                                    text-align: left;
                                }
                            }
                        }


                        .row-price {
                            display: flex;
                            justify-content: space-between;
                            width: 440px;
                            margin-bottom: 20px;
                            .sm-block({
                                width: 300px;
                            });
                        }

                        .buttonOrder {
                            
                            display: flex;
                            
                            .page__btn {
                                box-shadow: none;
                                width: 400px;
                                .sm-block({
                                    width: 260px;
                                });
                            }
                        }
                    }
                }
            }

            .counter {
                position: absolute;
                font-family: "@{PixelForce}-Regular";
                color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: -20px;
                bottom: 0;
                left: 25px;
                right: 0;
                background-color: #7900e8;
                box-shadow: 0px 0px 4px #7900E8;
                z-index: 100;
            }

            .burger {
                
                transition: .6s ease-in-out;
                .icon {
                    width: 50px;
                    height: 34px;
                    position: relative;
                    margin-left: 48px;
                    filter: drop-shadow(-5px -6px 14px #E323BE), drop-shadow(6px 6px 14px #00FFFF), drop-shadow(1px 1px 0px #00FFFF);
                    cursor: pointer;
                    z-index: 4000;
                    span {
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        border-radius: 9px;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25 ease;
                        color: #fff;
                        background-color: #fff;
                        transition: .3s ease-in-out;
                        &:nth-child(1){
                            top: 0;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 3px;
                                top: 3px;
                                display: inline-block;
                                width: 48px;
                                height: 3px;
                                background-color: #00FFFF;
                                z-index: 5;
                            }
                            
                            
                        }
                        &:nth-child(2){
                            top: 13px;
                            z-index: 10;
                            &::after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                width: 44px;
                                left: 3px;
                                top: 3px;
                                height: 8px;
                                background-color: #00FFFF;
                                z-index: 5;
                                width: 48px;
                                height: 3px;
                            }
                        }
                        &:nth-child(3){
                            top: 13px;
                        }
                        &:nth-child(4){
                            top: 26px;
                            z-index: 10;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 3px;
                                top: 3px;
                                display: inline-block;
                                width: 48px;
                                height: 3px;
                                background-color: #00FFFF;
                                z-index: 5;
                            }
                        }

                        
                    }
                    &.active {
                        transition: .2s ease;
                        
                        span {
                            z-index: 20;
                            &:nth-child(1){
                                top: 18px;
                                width: 0%;
                                left: 50%;
                                z-index: 10;
                                display: none;
                                transition: .1s ease-in-out;
                            };
                            &:nth-child(2){
                                transform: rotate(45deg);
                                z-index: 10;
                                transition: .1s ease-in-out;
                            };
                            &:nth-child(3){
                                transform: rotate(-45deg);
                                z-index: 10;
                                transition: .1s ease-in-out;
                            };
                            &:nth-child(4){
                                top: 18px;
                                width: 0%;
                                left: 50%;
                                z-index: 10;
                                transition: .1s ease-in-out;
                                &::after {
                                    display: none;
                                    transition: .1s ease-in-out;
                                }
                            };
                        }
                    }
                    
                }
                .other{
                    display: none;
                    position: fixed;
                    
                    
                    
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    z-index: 3000;
                    background: rgba(39, 39, 39, 0.6);
                    .inner {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow-x: hidden;
                        // opacity: 0;
                        background: #000;
                        transition: all 1s ease;
                        .nav-center {
                            display: flex;
                            flex-direction: column;
                            

                            .page__link {
                                margin: 0 auto;
                                &:nth-child(2){
                                    margin: 20px auto;
                                }
                                .sm-block({
                                    margin: 0 auto;
                                });
                            }

                            .sm-block({
                                display: flex;
                                flex-direction: column;
                                margin: 0 auto;
                            });
                        }
                        .text {
                            display: block;
                            color: #fff;
                            width: 560px;
                            text-align: center;
                            margin: 0 auto;
                            align-self: center;
                            
                        }
                        .soc {
                            display: flex;
                            justify-content: space-between;
                            width: 244px;
                            margin: 90px auto 90px auto;
                        }
                        .logo {
                            text-align: center;
                        }
    
                        &.active {
                            opacity: 1;
                            // overflow-x: hidden;
                        }
                    }
                     
                    // &.hidden {
                    //     display: none;
                    // }
                }
               
            }
        }
    }
}

button {
    background: transparent;
    border: transparent;

}