.page{
    &__title {

        &-h1 {
            font-family: "@{Oswald}-Bold";
            font-size: 112px;
            line-height: 165px;
            letter-spacing: 17px;
            text-transform: uppercase;
            text-shadow: -5px -6px 24px #E323BE, 6px 6px 24px #00FFFF, 6px 6px 0px #00FFFF;
            transform: rotate(-3deg);
            color: #fff;
            
        }

        &-h2 {
            font-family: "@{Oswald}-Bold";
            color: #fff;
            font-size: 48px;
            letter-spacing: 10px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__text {
        font-family: "@{PixelForce}-Regular";
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2.2px;
        color: #fff;
        
        &_more {
            font-family: "@{PixelForce}-Regular";
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2.2px;
            color: #fff;
        }

        &__small {
            font-family: "@{PixelForce}-Regular";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 2.2px;
            color: #fff;
        }

        &_big {
            font-family: "@{PixelForce}-Regular";
            font-size: 36px;
            line-height: 24px;
            letter-spacing: 2.2px;
            color: grey;
        }
        
    }

    &__link {
        a {
            font-family: "@{PixelForce}-Regular";
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 2.2px;
            color: #fff;
            text-decoration: none;
        }
        
    }

    &__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 68px;
        letter-spacing: 5px;
        line-height: 30px;
        font-family: "@{Oswald}-Bold";
        font-size: 24px;
        text-transform: uppercase;
        border: none;
        color: #000;
        background-color: #fff;
        border: transparent;
        padding: 0 24px 0 24px;
        box-shadow: -5px -6px 24px #E323BE, 6px 6px 24px #00FFFF, 6px 6px 0px #00FFFF;
        
    }
}