.video {
    background-color: #000;
    padding-bottom: 139px;
    .bg-video {
        background-image: url(../assets/img/shop.gif);
        height: 630px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        margin-bottom: 153px;
    }

    .text {
        width: 425px;
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .video-zaglushka {
        margin-top: 59px;
    }
}