.video {
    background-color: #000;
    padding-bottom: 139px;
    .sm-block({
        padding-bottom: 100px;
        
    });
    .bg-video {
        background-image: url(../assets/img/shop.gif);
        height: 630px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        margin-bottom: 153px;
        .sm-block({
            height: 350px;
            margin-bottom: 53px;
        });
    }

    .text {
        width: 425px;
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .sm-block({
            
            width: 320px;
            
        });
    }

    .video-zaglushka {
        margin-top: 59px;
    }
}