section.orderingProcess
    include ../blocks/breadcrumbsOrderingProcess
    .orderingProcess-content
        .wrapper
            p.page__text_more оформление заказа
            .orderingProcess-content-wrapper
                .left
                    .items-wrapper
                        .item
                            .page__img
                                img(src="assets/img/t-shirt-ordering.png")
                            .column
                                p.page__text__small Крутая футболка “Переходи на темную фазу”
                                p.page__text 1 500Р
                            .row
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") s
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label m
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label l
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label xl
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") 1
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label 1
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label 1
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label 2
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") s
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label m
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label l
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label xl
                            .icon-skip
                                img(src="assets/img/icon-skip.svg")
                        .item
                            .page__img
                                img(src="assets/img/t-shirt-ordering.png")
                            .column
                                p.page__text__small Крутая футболка “Переходи на темную фазу”
                                p.page__text 1 500Р
                            .row
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") s
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label m
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label l
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label xl
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") 1
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label 1
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label 1
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label 2
                                form.number
                                    .__select(data-state="")
                                        .__select__title(data-default="1") s
                                        .__select__content
                                            input#singleSelect0(type="radio" data-state="" checked).__select__input
                                            label(for="singleSelect0").__select__label m
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label l
                                            input#singleSelect1(type="radio" name="singleSelect").__select__input
                                            label(for="singleSelect1").__select__label xl
                            .icon-skip
                                img(src="assets/img/icon-skip.svg")
                .right
                    .basket-wrapper
                        .text
                            p.page__text корзина
                            .row
                                .text-wrapper
                                    p.page__text_vsm Крутая футболка “Переходи на темную фазу”
                                p.page__text_vsm 2 х 1 500Р
                            .row-delivery
                                p.page__text__small Доставка
                                p.page__text__small 300Р
                            .row-result
                                p.page__text итого
                                p.page__text 3 300р
                            a(href="OrderingProcessTwo/OrderingProcessTwo.html")
                                button.page__btn оформить заказ
                    .next
                        p.page__text_more далее
                        ul
                            li cпособ доставки <br> выберите как будете получать свой заказ
                            li оплата <br> Выберите способ оплаты и введите платёжные данные.
                            li подтверждение заказа<br> Разместите заказ и получите подтверждение по электронной почте.
