.article-news {
    background-color: #000;
    .bg-article-news {
        background-image: url(../assets/img/bg-article-news.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        display: flex;
        align-items: center;
        .text-wrapper {
            .ipad-block({

            });
            .row {
                display: flex;
                padding-top: 32px;
                .page__text__small {
                    margin-right: 48px;
                }
            }
            .page__text_big {
                color: #fff;
                line-height: 44px;

                .ipad-block({
                    font-size: 30px;
                });

                
            }

            .title {
                .page__text_big {
                    .sm-block({
                        font-size: 25px;
                    });
                }
            }
        }
    }

    &-article {
        background-color: #000;
        padding: 60px 0 120px 0;
        
        .text {
            .ipad-block({
                width: 850px;
                padding-left: 30px;
            });

            .fabletMid-block({
                width: 700px;
                padding-left: 30px;
            });

            .sm-block({
                width: 320px;
                padding-left: 10px;
            });
            .title {
                width: 756px;
                .page__text_big {

                    .sm-block({
                        line-height: 34px;
                        font-size: 20px;
                    });
                }
                .sm-block({
                    width: 90%;
                    
                });
            }
            .page__text_big {
                color: #fff;
                line-height: 44px;
                margin-bottom: 32px;
            }
            .row {
                display: flex;
                margin-bottom: 32px;
                .page__text__small {
                    margin-right: 48px;
                }
            }

            .page__text {
                color: grey;
                .sm-block({
                    // text-align: center;
                });
            }

            .page__text_more {
                margin: 36px 0 24px 0;
                
            }
        }
    }
}



    