.backstageVideoArticle {
    .bg-backstageVideoArticle {
        background-image: url(../assets/img/backstage-bg-inner.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        display: flex;
        align-items: center;
        .ipad-block({
            height: 300px;
            
        });
    }

    
}


.video-article-wrapper{
    background-color: #000;
    .item-video {
        width: 300px;
    }

    .text {
        width: 840px;
        .page__text_more {
            line-height: 35px;
            margin-bottom: 32px;
        }
    }

    .photos {
        margin-top: 60px;
        .page__text_more {
            margin-bottom: 32px;
        }
        .row {
            .page__img {
                width: 270px;
            }
            display: flex;
            justify-content: space-between;
        }
    }
}

