.news {
    background-color: #000;
    .bg-news {
        background-image: url(../assets/img/news-bg.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        display: flex;
        align-items: center;
        
        .sm-block({
            
            height: 350px;
            
        });
    }
    .text {
        width: 1220px;
        .page__title-h1 {
            .fabletMid-block({
                font-size: 55px;
            });
            .sm-block({
                line-height: 70px;
                text-align: center;
                font-size: 52px;
            });
        }
        .ipad-block({
            width: 930px;
            
        });

        .fabletMid-block({
            width: 730px;
            
        });

        .sm-block({
            width: 320px;
        });

    }
        
}

.items {
    background-color: #000;
    padding-bottom: 30px;
    
    &-wrapper-news {
        display: flex;
        flex-wrap: wrap;

        a {
            text-decoration: none;
        }
        .link {
            
        }
        
        .item-news {
            display: block;
            width: 350px;
            height: 340px;
            margin: 0 12.5px 20px 12.5px;
            .ipad-block({
                // height: 300px;
                width: 300px;
            
            });
            .page__img {
                height: 236px;

            }

            .page__text_small {
                font-family: "@{PixelForce}-Regular";
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 2.2px;
                color: #fff;
            }

            .page__text_very-small {
                font-family: "@{PixelForce}-Regular";
                font-size: 10px;
                line-height: 24px;
                letter-spacing: 2.2px;
                color: #fff;
            }

            .row-news{
                padding-top: 14px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    
}
