.shop {
    background-color: #000;
    .bg-shop {
        background-image: url(../assets/img/shop-bg.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        display: flex;
        align-items: center;
    }

}

.row {
    // display: flex;
    
}
.text {
    // display: flex;
    // padding-top: 150px;
}

.items-wrapper {
    // padding-top: 150px;
    .item {
        margin-bottom: 95px;
    }
}

.item {
    // padding-top: 150px;
    
}

.text {
    // display: flex;
    // &.first-row{ 
    //     padding-top: 80px;
    //     display: flex;
    //     width: 299px;
    //     justify-content: space-between;
    // }

    // .row {
    //     display: flex;
    //     justify-content: space-between;
    //     .text {
    //         display: flex;
    //         width: 329px;
    //     }
        
    // }

    


}
// .row {
//     display: flex;
//     justify-content: space-between;
//     .text {
//         width: 300px;
//         display: flex;
//         justify-content: space-between;
//     }

// }
// .wrapper {
//     display: flex;
// }

.text-merch {

}
.text-merch-technik-design {

}