section.shop
    .bg-shop
        .wrapper
            .text
                h1.page__title-h1 магазин
include ../blocks/breadcrumbs-shop
.wrapper
    .text-merch
        p.page__text__toggle Мерч
    .text-merch-technik-design
        p.page__text__toggle Технический хлам
.items
    .wrapper
        .items-wrapper
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        p.page__text_very-small 17 нояб. 2020 г.
                        p.page__text_very-small 160 просмотров
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        p.page__text_very-small 17 нояб. 2020 г.
                        p.page__text_very-small 160 просмотров
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        p.page__text_very-small 17 нояб. 2020 г.
                        p.page__text_very-small 160 просмотров
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        p.page__text_very-small 17 нояб. 2020 г.
                        p.page__text_very-small 160 просмотров