section.shop
    .bg-shop
        .wrapper
            .text
                h1.page__title-h1 магазин
include ../blocks/breadcrumbs-shop
.tabs
    .wrapper
        nav.nav
            ul
                li(data-id="merch")
                li(data-id="technical")    
.technical
    #technical.inner
        .items
            .wrapper
                .items-wrapper
                    .item
                        .page__img
                            img(src="assets/img/t-shirt-shop.png")
                        .text.first-row
                            p.page__text_small Крутая<br> футболка 
                            p.page__text_small 1500p
                        .row
                            .text
                                //- p.page__text_very-small 17 нояб. 2020 г.