section.shop
    .bg-shop
        .wrapper
            .text
                h1.page__title-h1 магазин
include ../blocks/breadcrumbs-shop
.togglers
    .wrapper
        .toggle-items
            .toggle-item
                p.page__text__toggle Мерч
            button#shopToggle(type="button" onclick="openBlock()")
                p.page__text__toggle Технический хлам
.items
    .wrapper
        .items-wrapper
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая<br> футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        //- p.page__text_very-small 17 нояб. 2020 г.
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая<br> футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        //- p.page__text_very-small 17 нояб. 2020 г.
                        //- p.page__text_very-small 160 просмотров
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая<br> футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        //- p.page__text_very-small 17 нояб. 2020 г.
                        //- p.page__text_very-small 160 просмотров
            .item
                .page__img
                    img(src="assets/img/t-shirt-shop.png")
                .text.first-row
                    p.page__text_small Крутая<br> футболка 
                    p.page__text_small 1500p
                .row
                    .text
                        //- p.page__text_very-small 17 нояб. 2020 г.
                        //- p.page__text_very-small 160 просмотров
.technical
    .items
        .wrapper
            .items-wrapper
                .item
                    .page__img
                        img(src="assets/img/t-shirt-shop.png")
                    .text.first-row
                        p.page__text_small Крутая<br> футболка 
                        p.page__text_small 1500p
                    .row
                        .text
                            //- p.page__text_very-small 17 нояб. 2020 г.