section.shop
    .bg-shop
        .wrapper
            .text
                h1.page__title-h1 магазин
include ../blocks/breadcrumbs-shop
.tabs
    .wrapper
            ul.nav
                li.active(data-id="one") Мерч
                li(data-id="two") Технический хлам
            div
                #one.technical.selected
                    .inner
                        .items-shop
                            .wrapper
                                .items-wrapper-shop
                                    .item-shop
                                        a(href="shop-article/shop-article.html")
                                            .page__img
                                                img(src="assets/img/t-shirt-shop.png")
                                            .row-shop
                                                p.page__text_small Крутая<br> футболка 
                                                p.page__text_small 1500p
                #two.merch
                    .inner
                        .items-shop
                            .wrapper
                                .items-wrapper-shop
                                    .item-shop
                                        a(href="shop-article/shop-article.html")
                                            .page__img
                                                img(src="assets/img/t-shirt-shop.png")
                                            .row-shop
                                                p.page__text_small Крутая<br> футболка 
                                                p.page__text_small 1500p
                                    .item-shop
                                        a(href="shop-article/shop-article.html")
                                            .page__img
                                                img(src="assets/img/t-shirt-shop.png")
                                            .row-shop
                                                p.page__text_small Крутая<br> футболка 
                                                p.page__text_small 1500p
                                    .item-shop
                                        a(href="shop-article/shop-article.html")
                                            .page__img
                                                img(src="assets/img/t-shirt-shop.png")
                                            .row-shop
                                                p.page__text_small Крутая<br> футболка 
                                                p.page__text_small 1500p