section.about
    .polygon
        .bg-about
    .text
        h2.page__title-h2 О канале
        p.page__text Чтоб понять о чем канал, вам надо не описание канала читать, а видосы смотреть)
        p.page__text ТЕХНО-ТРЕШ! Изобретения, конструирование, путешествия, развлечения, экстрим!
        p.page__text Подробнее? Смотри видео))

