section.backstage
    .bg-backstage
    .text
        h2.page__title-h2 Бекстейдж
        p.page__text Здесь вы можете подробнее увидеть весь процесс создания видео и фото
        a(href="backstageAllVideo/backstageAllVideo.html")
            button.page__btn Подробнее