section.banner
    //- .video
    //-     video(autoplay loop muted src="assets/img/banner-loop.mp4" poster="assets/img/banner-else.jpg" width="100%")
    //- picture 
    //-     source(srcset="assets/img/shop-bg.png" )
    //-     source(srcset="assets/img/banner.mp4" )
    //-     img(src="assets/img/banner.gif", alt="")
    .banner-gif
    
    .polygon
        .banner-lightning
            .wrapper
                .text
                    h1.page__title-h1 темная фаза