section.banner
    //- .video
    //-     video(autoplay loop muted src="assets/img/banner-loop.mp4" class="videoInner" poster="assets/img/banner-else.jpg" width="100%")
    .banner-gif
    .polygon
        .banner-lightning
            .wrapper
                .text
                    h1.page__title-h1 темная фаза