section.banner
    picture
        source(srcset="assets/img/shop-bg.png")
        img(src="assets/img/banner.gif")
    .banner-gif
    
    .polygon
        .banner-lightning
            .wrapper
                .text
                    h1.page__title-h1 темная фаза