section.be-first
    .bg-be-first
    .wrapper
        h2.page__title-h2 будь первым
        p.page__text_more Подпишись на уведомления и следи за выходом новых видео
        .row
            p.page__text email
            form.form(action="")
                input(type="text" placeholder="введите email").input
            btn.page__btn подписаться