section.breadcrumbs-videoArticle
    .wrapper
        nav.nav
            .page__link
                a(href="../") Главная
            .icon-arrow
                .page__img
                    img(src="assets/img/icon-arrow.svg")
            .page__link
                a(href="news/news.html") бекстейдж
            .icon-arrow
                .page__img
                    img(src="assets/img/icon-arrow.svg")
            .page__link
                a(href="news/news.html") ⚡🚘Автомобиль БУДУЩЕГО своими руками!..
            