section.breadcrumbs-news-article
    .wrapper
        nav.nav
            .page__link
                a(href="../") Главная
            .icon-arrow
                .page__img
                    img(src="assets/img/icon-arrow.svg")
            .page__link
                a(href="shop/shop.html") Магазин
            .icon-arrow
                .page__img
                    img(src="assets/img/icon-arrow.svg")
            .page__link
                .grey
                    a(href="orderingProcess/orderingProcess.html") оформление заказа
            .icon-arrow
                .page__img
                    img(src="assets/img/icon-arrow.svg")
            .page__link
                .white
                    a(href="orderingProcess/orderingProcess.html") доставка
            
                    