footer.footer
    .wrapper
        .nav-left
            a(href="/")
                .page__img
                    img(src="assets/img/logo.svg")
        .nav-center
                .page__link
                    a(href="#") Новости и статьи
                .page__link
                    a(href="#") магазин
                .page__link
                    a(href="#") форум
        .soc
            .page__img
                img(src="assets/img/instagram.svg")
            .page__img
                img(src="assets/img/telegram.svg")
            .page__img
                img(src="assets/img/vk.svg")
            .page__img
                img(src="assets/img/youtube.svg")
        .text
            p.page__text Cделано с любовью в Yode.PRO <br> 2020