header.header
    .wrapper
        nav.nav
            .nav-left
                a(href="/")
                    .page__img
                        img(src="assets/img/logo.svg")
            .nav-center
                .page__link
                    a(href="#") Новости и статьи
                .page__link
                    a(href="#") магазин
                .page__link
                    a(href="#") форум
            .nav-right
                .page__img
                    img(src="assets/img/basket.svg")
                .counter 
                    span
                .burger