header.header
    .wrapper
        nav.nav
            .nav-left
                a(href="../")
                    .page__img
                        img(src="assets/img/logo.svg")
            .nav-center
                .page__link
                    a(href="news/news.html") Новости и статьи
                .page__link
                    a(href="shop/shop.html") магазин
                .page__link
                    a(href="#") форум
            .nav-right
                .basket
                    .page__img
                        img(src="assets/img/basket.svg")
                    .counter 
                        span
                .burger
                    button(type="button" onclick="openBlock()")#burgerBtn.icon
                        span
                        span
                        span
                        span
                    
                    #other.other
                        .inner
                            .wrapper
                                .nav-center
                                    .page__link
                                        a(href="news/news.html") Новости и статьи
                                    .page__link
                                        a(href="shop/shop.html") магазин
                                    .page__link
                                        a(href="#") форум
                                .soc
                                    a(href="#")
                                        .page__img
                                            img(src="assets/img/instagram.svg")
                                    a(href="#").page__img
                                        img(src="assets/img/telegram.svg")
                                    a(href="https://vk.com/nikita_poddubnovvv").page__img
                                        img(src="assets/img/vk.svg")
                                    a(href="https://www.youtube.com/channel/UCrxMZAdN2fOURIto_-fQrLQ").page__img
                                        img(src="assets/img/youtube.svg")
                                .logo
                                    a(href="/")
                                        .page__img
                                            img(src="assets/img/logo.svg")