header.header
    .wrapper
        nav.nav
            .nav-left
                a(href="/")
                    .page__img
                        img(src="assets/img/logo.svg")
            .nav-center
                .page__link
                    a(href="#") Новости и статьи
                .page__link
                    a(href="#") магазин
                .page__link
                    a(href="#") форум
            .nav-right
                .basket
                    .page__img
                        img(src="assets/img/basket.svg")
                    .counter 
                        span
                .burger
                    button(type="button" onclick="openBlock()")#someId.icon
                        span
                        span
                        span
                        span
                    #other.inner
                        .wrapper
                            .text
                                p.page__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper eget euismod orci. Cum sociis natoque penatibus et magnis dis.
                            .soc
                                .page__img
                                    img(src="assets/img/instagram.svg")
                                .page__img
                                    img(src="assets/img/telegram.svg")
                                .page__img
                                    img(src="assets/img/vk.svg")
                                .page__img
                                    img(src="assets/img/youtube.svg")
                            .page__img
                                img(src="assets/img/logo.svg")