section.video
    .polygon
        .bg-video
    .text
        h2.page__title-h2 новые видео
    .wrapper
            .video-wrapper
                a(href="backstageAllVideo/backstageAllVideo.html")
                    .item
                        .page__img
                            img(src="assets/img/video-item-1.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
                a(href="backstageAllVideo/backstageAllVideo.html")
                    .item-big
                        .page__img
                            img(src="assets/img/video-item-2.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
                a(href="backstageAllVideo/backstageAllVideo.html")
                    .item
                        .page__img
                            img(src="assets/img/video-item-3.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
            