section.backstageAllVideo
    .bg-backstageAllVideo
        .wrapper
include ../blocks/breabcrumbsAllVideo
.backstageAllVideo-wrapper
    .wrapper
        p.page__text_more Здесь вы можете просмотреть, как создаются видеоролики!
        .items-wrapper
            a(href="#")
                    .item
                        .page__img
                            img(src="assets/img/video-item-1.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
            a(href="#")
                    .item
                        .page__img
                            img(src="assets/img/video-item-1.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
            a(href="#")
                    .item
                        .page__img
                            img(src="assets/img/video-item-1.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров
            a(href="#")
                    .item
                        .page__img
                            img(src="assets/img/video-item-1.png")
                        .description
                            p.page__text_vsm Автомобиль БУДУЩЕГО своими руками! + РОЗЫГРЫШ моей САМОДЕЛКИ)))
                            .row
                                p.page__text_vsm 17 нояб. 2020 г.
                                p.page__text_vsm 160 570 просмотров