section.article-news
    .bg-article-news
        .wrapper
            .text-wrapper
                .title
                    p.page__text_big Андроид: лучшая система или полное фуфло?
                .row
                    p.page__text__small 17 нояб. 2020 г.
                    p.page__text__small 160 просмотров
include ../blocks/breadcrumbs-news-article
.article-news-article
    .wrapper
        .text
            .title
                p.page__text_big Андроид: лучшая система или полное фуфло?
            .row
                p.page__text__small 17 нояб. 2020 г.
                p.page__text__small 160 просмотров
            p.page__text На мобильном рынке сегодня существуют две популярные операционные системы: Android и iOS. Покупая новый смартфон, нужно делать выбор в том числе и между ними. В этой статье мы рассмотрим преимущества «зеленого робота». Выделим пять основных причин, по которым вам следует сделать выбор в пользу ОС от Google.
            p.page__text_more Свобода настроек
            p.page__text Android всегда отличался хорошей кастомизацией. Страшно подумать, но виджеты появились ещё в версии 1.5. Это было в далеком 2009 году. Несмотря на то, что за последнее время iOS также расширила свои возможности, это не идет ни в какое сравнение с потенциалом Android. Например, можно установить сторонний лаунчер. Это позволит настроить рабочий стол по своему вкусу: изменить сетку, отредактировать значки, выбрать масштаб интерфейса. Популярные приложения вроде Nova или CPL обладают огромным количеством опций. Ещё Android дает свободу действий. Вы вольны установить любое приложение, какое хотите, а не только то, что доступно в официальном магазине. Достаточно лишь одной галочки в настройках. Яркий пример — игра Fortnite. Летом её удалили за нарушение условий использования как из App Store, так и из Google Play. Тем не менее, на «зеленом роботе» все еще возможно поиграть в нее — достаточно скачать APK-файл с официального сайта Epic Games. С iOS такой трюк не пройдет. Сыграть в популярную «королевскую битву» на iPhone теперь невозможно.
            p.page__text_more Разнообразие дизайна и производителей
            p.page__text На Android выпускается огромное количество смартфонов. Новые модели выходят каждую неделю, особенно если посмотреть на китайских производителей. Перед вами открываются тысячи вариантов: от простейших умных «звонилок» до флагманов с уникальными решениями. Производители стараются выделить свой смартфон из множества других предложений на рынке за счет уникальных особенностей. Так, у Samsung есть электронное перо S Pen. Пригодится, если вы часто пользуетесь заметками или рисуете.