section.news
    .bg-news
        .wrapper
            .text
                h1.page__title-h1 новости и статьи
include ../blocks/breadcrumbs
.items
    .wrapper
        .items-wrapper-news
            a(href="article-news/article-news.html")
                .item-news
                    .page__img
                        img(src="assets/img/item-news.png")
                    p.page__text_small Андроид: лучшая система или полное фуфло?
                    .row-news
                        p.page__text_very-small 17 нояб. 2020 г.
                        p.page__text_very-small 160 просмотров
            
            
            
                    